#main {
	display: flex;
}
#top {
	display: flex;
	height: 450px;
}
#app {
	padding: 10px 100px 20px 100px;
	width: 1800px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	font-family: "Lobster", cursive;
	padding-bottom: 10px;
	font-size: 50px;
	color: #8b0000;
}
#sideBar {
	width: 200px;
	font-size: 18px;
	background-color: #f5f5dc;
	/* color: white; */
	font-weight: bold;
	margin-top: 0px;
	border-radius: 20px;
	height: 1050px;
}
#searchBtn {
	background: url(/searchIcon.png) no-repeat;
	cursor: pointer;

	border: none;
	padding: 0px;
}
#form {
	display: flex;
	justify-content: center;
}
#searchInput {
	width: 150px;
	height: 30px;
	border-radius: 10px;
	/* box-sizing: border-box; */
	border: 2px solid #cdcd58;
}
li {
	list-style-type: none;
	cursor: pointer;
	padding: 5px;
}
#subList {
	width: 200px;
	height: 945px;
	overflow-y: scroll;
	scrollbar-color: rgb(97, 97, 97) rgb(232, 232, 232);
	scrollbar-width: thin;
	margin-right: 20px;
	margin-top: 0px;
}
#itemImg {
	width: 400px;
	height: 400px;
}
#item {
	width: 1000px;
}
#instruction {
	height: 430px;
	overflow-y: scroll;
	scrollbar-color: rgb(124, 124, 124) rgb(232, 232, 232);
	scrollbar-width: thin;
	margin: 0px;
	padding-left: 20px;
}
#itemName {
	font-size: 30px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}
p {
	padding-top: 0px;
}

#logo {
	width: 60px;
}
#detail {
	padding: 20px;

	border-radius: 20px;

	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-bottom: 20px;
}
iframe {
	margin-left: 90px;
}
